{% extends 'base.html' %}

{%   block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-secondary" >
  <div class="container-fluid">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('index')}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('about')}}">About me</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('subscribe')}}">Subscribe</a>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('friends')}}">Friends</a>
          </li> 
        </li>  
      </ul>
      
    </div>
  </div>
</nav>

<div class="container">
  <h1>Home page</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam earum, dignissimos cum deleniti soluta saepe sit reiciendis id neque rerum eos dolor aliquam voluptas a aperiam quis perferendis beatae culpa quas perspiciatis accusamus rem dolorum quibusdam natus! Doloribus nihil magni fugiat quos odit at molestias, itaque reiciendis velit ex ducimus.</p>
  <br>
  <figure>
  <img src="static/Images/blog.webp" alt="blog">
  <figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit.  </figcaption>
</figure>


</div>


{% endblock %}


