{% extends 'base.html' %}

{%   block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('index')}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('about')}}">About me</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('subscribe')}}">Subscribe</a>
        </li>  
      </ul>
      
    </div>
  </div>
</nav>



{% endblock %}

{% block header %}
<h3>This is  homepage content.
    <br><br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quia ipsum, quis ducimus laboriosam, reprehenderit labore expedita numquam, nesciunt aliquam odit minima eius dolorum enim debitis dolore sit iure. Dolorum sunt animi culpa provident. Magnam reiciendis quasi cupiditate dolorum dignissimos ea distinctio soluta excepturi eaque? Eum sunt minima ullam sit!</h3>

    
{% endblock %}

